@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
    <center> 
        <TwitterShareButton Text=@("#unitytips Museum - A collection of the best #unitytips organized by @ogiacomelli") Size="Large" />
    </center>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
