@page "/about"
<a href="https://github.com/giacomelli/unitytips-museum">
    <img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_gray_6d6d6d.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1" style="position: absolute; top: 0; right: 0; border: 0; z-index:999">
</a>

<div class="card tip-widget">
    <div class="card-header">Welcome to #unitytips Museum</div>
    <div class="card-body">
       <p>A collection of the best #unitytips!</p>
       <p>Every week all #unitytips retweeted by <a href="https://twitter.com/unity3d">@@unity3d</a> will be included to the collection.</p>
    </div>
</div>

<div class="card tip-widget">
    <div class="card-header">How can I suggest other #unitytips?</div>
    <div class="card-body">
        If you know a really good #unitytips (at least 50 retweets) that should be added to the collection, please follow one of options above:
        <ul>
            <li>Contact me on Twitter <a href="https://twitter.com/ogiacomelli">@@ogiacomelli</a></li>
            <li>Fork it on GitHub, add the #unitytips to the wwwroot/data/tips.json file and create a pull-request</li>
        </ul>
    </div>
</div>

<div class="card tip-widget">
    <div class="card-header">
       I'm <a href="https://twitter.com/@@ogiacomelli">Diego Giacomelli</a>, a programmer since 2001
    </div>
    <div class="card-body">
        As an  Unity3D enthusiast I like to share and discover good #unitytips and I created this <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/client">Blazor</a> app to allow any Unity3D gamedev to get easy access to the best #unitytips.
    </div>
</div>